/* ==|====================
   Layout/Members
   ======================= */

@supports (display: flex) {
  .members {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .box {
    text-align: center;
    padding: 10px;
    flex-basis: 250px;
  }
}

@supports not (display: flex) {
  .members {
    float: left;
  }
}
